@import url('https://fonts.googleapis.com/css2?family=Italianno&display=block');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=block');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vh: 100%;
}

html,
body {
    height: var(--vh);
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}